.collapsible {
  background-color: black;
  color: #edb879;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  font-family: Georgia;
}

.active,
.collapsible:hover {
  background-color: #2a3132;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: black;
  font-size: 20px;
}
